* {
  margin: 5px;
  padding: 7px;
  box-sizing: border-box;
  /* font-size:30px ; */
  /* line-height: 0px;    */
}
h1 {
  color: #02334c;
}
h2 {
  color: #044261;
  font-size: 30px;
}

.header-info {
  display: flex;
  border: 1px solid rgba(210, 161, 161, 0.406);
  box-shadow: -1px -1px white, 1px 1px white;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.header-info > div p {
  font-size: 25px;
}

#image {
  box-shadow: 7px 7px 20px black;
  margin-right: 50px;
}

#first {
  text-align: center;
}
.about {
  font-size: 40px;
}
#para {
  font-size: 30;
}
.firstpara {
  font-size: 20px;
  text-align:start;
}
.secondpara {
  font-size: 25px;
}
#divforheader {
  margin: 0;
  background-color: #fce5d1;
}

#outerdiv {
  margin: 0;
}
#divformain {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  background-color: #edc098;
}

#divforabout {
  line-height: 40px;
}

.about-me {
  margin: 0;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
}
.about-me-image img {
  height: 500px;
  border-radius: 10px;
}
.about-me-top {
  width: 100%;
  border-radius: 30px;
  /* background-color: rgb(91, 65, 65); */
 padding: 0;
  margin: 0;
}
.about-me-top img {
  border-radius: 30px;
}
.hire-me-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hire-me-btn button {
  margin-top: 40px;
  padding: 20px 30px;
  font-size: 34px;
  border-radius: 9px;
  border: none;
  background-color: antiquewhite;
}

.info {
  margin: 0 ;
  background-color: #f7e0cd;
}

.skills {
  color: #1f7a9b;
}
#divforfooter {
  background-color: #c4a378;
  font-size: 20px;
}
#thanq {
  background-color: #a57839;
  font-size: 20px;
}
.photo {
  box-shadow: 7px 7px 20px white;
}

.footer-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
